<div class="imprint">


    <h1>Impressum</h1>

    <h3>Angaben gem&auml;&szlig; &sect; 5 TMG</h3>
    <p>Yvonne Gamb&ouml;ck<br/>
        Florianstr. 1<br/>
        86565 Gachenbach</p>

    <h3>Kontakt</h3>
    <p>Telefon: 01 73/ 9 00 22 31<br/>
        E-Mail: yvonnegamboeck@web.de</p>

        <br/>
        <br/>
        <br/>
        <br/>
<a href='https://de.freepik.com/vektoren/symbol'>Symbol Vektor erstellt von macrovector - de.freepik.com</a>
<a href='https://www.freepik.com/vectors/texture'>Texture vector created by macrovector - www.freepik.com</a>
<a href='https://de.freepik.com/vektoren/hintergrund'>Hintergrund Vektor erstellt von macrovector - de.freepik.com</a>
<a href='https://de.freepik.com/fotos/menschen'>Menschen Foto erstellt von jcomp - de.freepik.com</a>

<br/>
<br/>
<br/>
<br/>

<a routerLink="/" style="color: #d6002b">Back to Game</a>

</div>